@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: hsl(191, 73%, 97%);
    font-family: Prompt;
}
h1{
    color: rgb(92, 82, 134);
}
form{
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 40px rgba(88, 88, 88, 0.596);
    border-radius: 5%;
    background-color: rgb(241, 244, 247);
}

input{
    font-size: 1.6em;
    text-align: center;
    border: 2px solid rgba(67, 72, 77, 0.39);
    border-radius: 10px;
    box-shadow:2px 2px 25px rgba(101, 109, 110, 0.158) ;
    border-color:rgba(67, 72, 77, 0.233) ;
    background-color: rgb(241, 244, 247);
}
input:focus{
    border: 2px solid;
    outline: none;
    border-color:hsla(207, 82%, 64%, 0.747) ;
    box-shadow:2px 2px 20px rgba(121, 210, 245, 0.438) ;
}

#temp-box{
    text-align:left;
    padding: 15px;
    margin-left: 20%;
}
.l:hover{
    font-size: 1.25em;
    transition: .5s
}

button{
    padding: 8px;
    color: white ;
    outline: none;
    border-radius: 5px;
    border-color: rgb(52, 98, 151);
    background-color: rgb(64, 137, 204);
    font-weight: bold;
}

button:hover{
    border-color: rgb(3, 121, 255);
    background-color: rgb(27, 145, 255);
    cursor: pointer;
}

.r{
    box-shadow:1px 1px 1px rgba(0, 47, 255, 0) ;
}

.r:focus{
    box-shadow:4px 4px 20px rgba(77, 105, 228, 0.692) ;
}

#result{
    font-size: 1.5em;
}